/* Empty. Add your own CSS if you like */

.favoriteGenre {
    background-color: #886AEA;
}

.smallImage {
    display: block;
    width: 100px;
    height: auto;
}

.fullCover {
    display: block;
    max-height: 250px;
    width: auto;
}

.smallTitle {
    display: block;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.smallMovieCard {}

.smallActor {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    float: left;
}

.cardBlock {
    display: block;
}
