<ion-view title="Movies">
    <ion-content>
        <div ng-repeat="genre in genresBetter | orderBy:'title'">
            <div>
                <h2>{{ genre.title }}</h2>
            </div>
            <ion-scroll direction="x" class="wide-as-needed borderBottom">
                <div class="row">
                    <div ng-repeat="movie in genre.movies" class="col col-33 shortInfo">
                        <div class="col col-center card smallMovieCard" on-tap="detail(movie)">
                            <img class="center smallImage" src="{{ movie.cover_small }}" alt="">
                            <span class="smallTitle">{{ movie.title }}</span>
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>
