<ion-view title="{{ movie.content.title }}">
    <ion-content>
        <div class="list card">
            <div class="item item-body cardBlock">
                <img class="fullCover center" src="{{ movie.content.cover_small }}">
                <div class="smallTitle">
                    {{ movie.content.description_plain }}
                </div>
                <h2>Cast:</h2>
                <div ng-repeat="actor in movie.content.actors">
                    <div class="">
                        <img class="smallActor" src="http://moviesdb.brm.us/files/people/{{actor.id}}.jpg">
                    </div>
                </div>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-chevron-left"></i>
                </a>
                <a class="tab-item" href="#">
                    Go Back
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chevron-right"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
