<ion-view title="{{ movie.content.title }}">
    <ion-content>
        personpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonpersonperson
    </ion-content>
</ion-view>
